#container {
  border-radius: 10px;
  max-width: 300px;

  /* Center the container in middle on horizontal axis */
  margin: 0 auto;

  /* Add empty space above the container (20% of the view height) */
  margin-top: -10px;
  margin-bottom: 30px;
  transition: all 500ms ease-in-out;
  background-color: #eee;
  /* box-shadow: 5px 5px 10px 0.7px #888888; */
}
#container:hover {
  border-radius: 10px;
  max-width: 300px;

  /* Center the container in middle on horizontal axis */
  margin: 0 auto;

  /* Add empty space above the container (20% of the view height) */
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

#container .card {
  /* Change background color */
  background-color: white;

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;

  width: 100%;
}
#container .tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

/* Style div elements that have class equal to name */
#container .name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  width: 200px;
  height: 100px;
  color:black;
}

/* Style p element */
#container p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

/* Style button element */
#container button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

#container .card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

.tag{
    margin-top: 20px !important;
    /* background-color: #0077ff; */

}
.tagtop{
    margin-top: 20px;
}

#content{
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  font-size: 16px;
  padding-left: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 20px;
  margin-left: 0px;
  margin-bottom: 30px;
  color: black;
}

.noticeText{
  display: flex;
}
.name-button{
  margin-left: 20px;
}

button{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.card{
  display: flex;
  margin: 5px;
  filter: opacity(0.8);
  border-radius: 5px;
  box-shadow: 0 0 5px #888888;
  padding: 10px;
}
.card:hover{
  margin: 5px;
  filter: opacity(1);
  box-shadow: 5px 10px 18px #888888;
}

.name1{
  font-size: 14px;
  font-weight: normal;
  width: 140px;
}
.name2{
  padding-left: 20px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}