#background-update-vehicles{
  background-image: url("..\assets\images\background-book.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1200px;
  opacity: 0.9;
}