#Upload {
  padding-left: 302px;
  margin-right: 342px;
  width: 320px;
}
#headp {
  font-weight: 900px;
  /* background-color: white; */
  padding-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
}
#imgUpload {
  font-weight: 900px;
  font-family: cursive;
}
.file {
  border-style: dotted;
  border: 5px dotted #e0e6e7;
  color: black;
}
.inputUpload {
  border-radius: 6px;
  width: 600px;
  height: 40px;
  border: 0.1rem black;
  padding-left: 20px;
  background-color: aliceblue;
}

.inputUpload:hover {
  border-color: blue;
}
#flex_div {
  display: flex;
}
#f1 {
  padding-left: 50px;
}
.SubmitUpload {
  width: 114px;
  background-color: #1cca1c;
  border-color: #1cca1c;
  border-radius: 4px;
  height: 36px; 
}


#addnewproduct_id{
  background-image: url("../assets/images/addnewp_bg1.jpg");
  background-color:#c3c0b3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  margin-bottom: 0px;
}
#addnewproduct_id:hover{
  opacity:1;
}